glob:dist/
glob:build/
glob:cover/
glob:.settings
glob:.project
glob:.pydevproject
glob:.settings/org.eclipse.core.resources.prefs
glob:.settings/org.eclipse.core.runtime.prefs
glob:.settings/org.eclipse.ltk.core.refactoring.prefs
glob:.settings/org.eclipse.wst.validation.prefs
glob:.bat
glob:.sh
glob:.coverage
glob:.hgchurn
glob:.pyc
glob:.pyo
glob:.noseids
glob:*.sqlite

glob:django_dynamic_fixture.egg-info