dist/
build/
cover/
.settings
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.validation.prefs
*.bat
*.sh
*.coverage
*.pyc
*.pyo
.noseids
*.sqlite
virtualenv*

django_dynamic_fixture.egg-info
DEV_README.txt
env/