.DS_Store
.idea/
dist/
build/
cover/
.settings
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.validation.prefs
*.bat
*.sh
*.coverage
*.pyc
*.pyo
*.log
.noseids
*.sqlite
virtualenv*

django_dynamic_fixture.egg-info
env/
envpypy
env26
env27
env32
env33
env34
env2.6
env2.7
env3.2
env3.3
env3.4
.tox
test_:memory: