pytest
pytest-django
pytest-xdist # Run tests in parallel
pytest-cov
tox # For the CI

psycopg2==2.8.4 # For tests with Postgres fields
#or psycopg2cffi==2.7.5 # For pypy

coveralls
python-coveralls

flake8==3.7.9
pyflakes==2.1.1
pylint==2.4.4

sphinx==2.3.1
sphinx_rtd_theme==0.4.3
