build
twine

pytest
pytest-django
pytest-xdist # Run tests in parallel
pytest-cov
tox # For the CI

psycopg2-binary
#psycopg2==2.8.4 # For tests with Postgres fields
#or psycopg2cffi==2.7.5 # For pypy

coveralls
python-coveralls

flake8
pyflakes
pylint

sphinx
sphinx_rtd_theme
