# Python2/3 compatibility
six

# For the Nose plugin
nose>=1.3
django-nose>=1.4.5
nose-progressive>=1.5

# Database Drivers
#mysql-python
#psycopg2 # not pypy compatible
#psycopg2cffi # pypy2+ compatible

# DjangoGEO
geopy

# 3rd party libraries
jsonfield
django-json-field
django-polymorphic
