pytest
pytest-django
pytest-xdist
pytest-cov
tox

psycopg2==2.8.4 # For tests with Postgres fields
#or psycopg2cffi==2.7.5 # For pypy

coveralls
python-coveralls

flake8==2.1.0
pyflakes==1.5.0
pylint==1.6.5

sphinx==1.5.3
sphinx_rtd_theme==0.2.2
